* {
    margin: 30px;
}

.input{
  width: 196px;
  height: 30px;
  margin-bottom: 9px;
  border-radius: 6px;
  margin: 20px 0px;
}

.contenedor{
  width: 200px;
  height: 300px;
  margin-bottom: 9px;
  border-radius: 6px;
}

.divPadre{
  width: 200px;
  margin-bottom: 9px;
  border-radius: 6px;
  background-color: #58FA58;
  padding: 8px;
}